.login_container {
background-image: url('../images/login-home.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
}

.login_title {
    font-size: 2rem;
    font-weight: 700;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 1rem;
}

.login_form {
    position: absolute;
    right: 0;
    top: 20%;
    width: 90%;
    margin: auto;
    left: 0;

    box-shadow: rgba(147, 144, 144, 0.25) 0px 54px 55px, rgba(127, 115, 115, 0.12) 0px -12px 30px, rgba(208, 203, 203, 0.12) 0px 4px 6px, rgba(157, 147, 147, 0.17) 0px 12px 13px, rgba(201, 186, 186, 0.09) 0px -3px 5px;
}